.checkout__wrapper {
    @apply mx-5 text-stone-300 flex flex-wrap justify-around mt-24;
    .checkout__delivery_data {
        @apply flex flex-col w-5/6 sm:w-4/5 md:w-2/5 lg:w-2/6 mb-10;
        input {
            @apply my-2 px-3 py-2 h-12 bg-stone-800 focus:outline-none focus:bg-stone-900;
        }
        div {
            @apply text-base sm:text-lg md:text-xl tracking-wide font-thin;
        }
    }
    .checkout__cart {
        @apply w-5/6 sm:w-4/5 md:w-2/5 lg:w-2/6 mb-10;
        .checkout__item {
            @apply flex items-start my-5 text-lg;
            img {
                @apply h-16 mr-5;
            }
            a {
                @apply hover:underline;
            }
        }
    }
    .checkout__text {
        @apply uppercase text-base sm:text-lg md:text-xl tracking-wide font-thin pb-5;
    }

    .checkout__payment {
        @apply w-screen flex justify-center mb-20;
        button {
            @apply bg-green-700 bg-opacity-70 h-16 min-w-fit sm:w-1/3 md:w-2/5 lg:w-1/5 px-8 py-3 text-2xl tracking-widest font-thin transition-all hover:bg-opacity-100 disabled:bg-opacity-100 disabled:bg-stone-700 whitespace-nowrap;
        }
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
